.ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
    display: none;
}
.form {
    width: 450px;
    padding: 25px 25px;
    margin: 0 auto;
    position: relative;
    &__container {
        border-radius: 12px;
        overflow: hidden;
    }
    &__title {
        font-weight: bold;
        position: relative;
        margin-bottom: 0;
        color: white;
    }

    &__sub-title {
        color: silver;
        position: relative;
        margin-bottom: 30px;
        &--login {
            color: silver;
            margin-bottom: 0;
        }
    }
    &__item--title {
        color: #fafafa;
        font-size: 16px;
        margin-bottom: 0;
    }
    &__link--recovery {
        color: gray;
        margin-bottom: 30px;
        &:hover {
            color: silver;
        }
    }
    .ant-form-item {
        margin-bottom: 10px;
    }
    .ant-divider-horizontal.ant-divider-with-text::before,
    .ant-divider-horizontal.ant-divider-with-text::after {
        border-top-color: silver;
    }
    &__button {
        height: 40px;
        width: 96%;
        border: 0;
        border-radius: 4px;
        margin-top: 10px;
        &__container {
            width: 100%;
        }
        &--login {
            width: 100%;
        }
        &--register {
            width: 100%;
            margin-top: 10px;
        }
        &--facebook {
            background-color: #3b5998;
        }
        &--google {
            background-color: #db4437;
            float: right;
            span {
                color: black;
            }
        }
        i {
            margin-right: 10px;
        }
    }
}
.login-form {
    transition: 0.6s;
    animation: toRight 0.6s;
    background-color: black;
    .ant-input-affix-wrapper > input.ant-input {
        background-color: #434343;
    }
    .ant-input {
        color: white;
    }
}

.card-form {
    padding: 25px 15px;
    padding-bottom: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 450px;
    background-color: $primary-light;
    overflow: hidden;
    transition: 0.5s;
    width: 450px;
    &--left {
        animation: toLeft 0.5s;
    }
    &--right {
        animation: toRight 0.5s;
    }
    &__title {
        font-weight: bold;
        color: #eee;
        margin: 16px 24px;
        font-size: 1.15rem;
    }
    &__sub-title {
        font-size: 1.4rem;
    }
    &__text {
        color: black;
    }
    &__image--bottom {
        height: auto;
        width: 100%;
        transform: translateY(33px);
    }
    &__image--top {
        height: 70px;
        margin: 0 24px;
        display: block;
    }
    &__button {
        border: 0;
        height: 40px;
        border-radius: 4px;
        width: calc(100% - 48px);
        background-color: white;
        color: $primary-light;
        font-weight: bold;
        margin: 0 24px;
        &--login {
            margin-top: 20px;
            color: $primary-light;
            font-weight: bold;
        }
    }
}
.register-form {
    padding: 25px 15px;
    padding-bottom: 0;
    background-color: #fff;
    transition: 0.5s;
    animation: toLeft 0.5s;
    &__title {
        font-weight: bold;
        margin-bottom: 20px;
        color: #000;
    }
    .ant-input {
        background-color: #eee;
        border: 0;
        outline: 0;
    }
    .ant-input-affix-wrapper-lg {
        background-color: #eee;
        border-style: none;
    }
}
@include tablet {
    .form {
        width: 100%;
    }
    .login-form {
        order: 1;
    }
    .form__container {
        flex-wrap: wrap;
        padding-top: 140px;
    }
    .card-form {
        order: 2;
        padding-bottom: 25px;
        &__image--bottom {
            display: none;
        }
    }
}
@keyframes toLeft {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes toRight {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
