.user{
    &__container{
        padding-left: 120px;
        padding-right: 120px;
    }
    &__menu{
        background-color: #222020;
        // height: calc(100vh - 170px);
        padding-bottom: 0px;
        min-width: 300px;
        margin-top: 100px;
        border-radius: 10px;
        overflow: hidden;
        &__item{
            padding: 10px 20px;
            margin-left: 15px;
            margin-right: 15px;
            background-color: #312e2e;
            border-radius: 6px;
            margin-bottom: 15px;
            transition: 0.5s;
            &--title{
                font-size: 1.05rem;
                color: silver;
            }
            &:hover{
                background-color: #434343;
                cursor: pointer;
            }
        }
        &__name{
            text-align: center;
            margin-bottom: 60px;
            font-size: 1.1rem;
        }
        &__avatar{
            width: 120px;
            height: 120px;
            border-radius: 50%;
            margin: 0 auto;
            display: block;
            border: 6px solid #434343;
            background-color: black;
            margin-top: 40px;
            margin-bottom: 20px;
            &--background{
                width: 100%;
                height: 105px;
                background: #000000; 
                margin-bottom: 85px;
                left: 0;
                top: 0;
                z-index: 3;
                position: relative;
            }
        }
    }
    &__outlet__container{
        background-color: #222020;
        width: 100%;
        height: auto;
        border-radius: 10px;
        margin-top: 100px;
        margin-left: 20px;
    }
}
@include tablet{
    .user__outlet__containe{
        margin-left: 0;
    }
}