* {
  margin: 0;
  padding: 0;
  margin-bottom: 0;
  font-family: "Poppins";
}
a {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: white;
  margin-bottom: 0;
}
button {
  cursor: pointer;
}
body {
  background-color: #292929 !important;
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary-light;
    outline: 1px solid $primary-light;
    border-radius: 20px;
  }
}

input {
  outline: none !important;
}
h6 {
  font-size: 1.05rem;
}
